<p id="notice"><%= notice %></p>

<h1>Commts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Commentable</th>
      <th>Commentable type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commts.each do |commt| %>
      <tr>
        <td><%= commt.content %></td>
        <td><%= commt.commentable_id %></td>
        <td><%= commt.commentable_type %></td>
        <td><%= link_to 'Show', commt %></td>
        <td><%= link_to 'Edit', edit_commt_path(commt) %></td>
        <td><%= link_to 'Destroy', commt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commt', new_commt_path %>
